* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 20px Tahoma;
}

h2 {
    font: bold 14px Tahoma;
}

header , section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: center;
}

#bigwrapper {
    border: 1px solid purple;
    width: 1000px;
    margin: 20px auto;
    text-align: left;
}

#topheader {
    background: yellow;
    border: 1px solid green;
    padding: 20px;
}

#topMenu {
    background: purple;
    color: yellow;
}