* {
	color: blue;
}

p:not(.Yummy){
	color: red;
}

tr:nth-child(odd) > td:nth-child(even){
	background-color: white;
}

tr:nth-child(odd) > td:nth-child(odd){
	background-color: yellow;
}

tr:nth-child(even) > td:nth-child(odd){
	background-color: white;
}

tr:nth-child(even) > td:nth-child(even){
	background-color: yellow;
}